.slider{
    margin: 0 auto;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 530px;
    display: flex;
}

.slides input {
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 600px;
}

.manual-navigation{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    width: 250px;
    height: 240px;
    cursor: pointer;
}

.parte1{
    background: linear-gradient(to right,#6d209d,#631e7a);
    border-right: 1px rgba(0, 0, 0, 0.527) solid;
    transition: 1s;
}
.parte2{
    background: linear-gradient(to right,#631e7a,#4b1b57);
    border-right: 1px rgba(0, 0, 0, 0.557) solid;
    transition: 1s;
}
.parte3{
    background-color: #4b1b57;
    transition: 1s;
}

.parte1:hover{
    background: linear-gradient(to right,#77389e,#693d77);
}
.parte2:hover{
    background: linear-gradient(to right,#693d77,#49345b);
}
.parte3:hover{
    background-color: #49345b;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

.navigation-auto div{
    padding: 5px;
    cursor: pointer;
    transition: 1s;
    opacity: 0;
    font-size: 30px;
    font-weight: 800;
}

.navigation-auto{
    position: absolute;
    width: 100%;
    margin-top: 260px;
    align-items: center;
    justify-content: center;
    transition: 1.5s;
}


#radio1:checked ~ .navigation-auto .auto-btn1{
    opacity: 1;
    color: rgb(118, 3, 120);
    text-shadow: 0 0 2px rgb(39, 1, 39);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    opacity: 1;
    color: rgb(118, 3, 120);
    text-shadow: 0 0 2px rgb(39, 1, 39);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    opacity: 1;
    color: rgb(118, 3, 120);
    text-shadow: 0 0 2px rgb(39, 1, 39);
}

.auto-btn1{
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);

}

.auto-btn2{
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);

}

.auto-btn3{
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);

}
