.slider{
    margin: 0 auto;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 530px;
    display: flex;
}

.slides input {
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 600px;
}

.manual-navigation{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    width: 250px;
    height: 240px;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
}

.parte1{
    background-image: linear-gradient(to bottom, #631997fa, #8235b9,#ab53ea);
    border-right: 1px rgba(0, 0, 0, 0.527) solid;
    transition: 1s;
}
.parte2{
    background-image: linear-gradient(to bottom, #631997fa, #8235b9,#ab53ea);
    border-right: 1px rgba(0, 0, 0, 0.557) solid;
    transition: 1s;
}
.parte3{
    background-image: linear-gradient(to bottom, #631997fa, #8235b9,#ab53ea);
    transition: 1s;
}

.parte1:hover{
    background-image: linear-gradient(to bottom, #6c3593fa, #8f52ba,#bc7de9);
}
.parte2:hover{
    background-image: linear-gradient(to bottom, #6c3593fa, #8f52ba,#bc7de9);
}
.parte3:hover{
    background-image: linear-gradient(to bottom, #6c3593fa, #8f52ba,#bc7de9);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

.navigation-auto div{
    padding: 5px;
    cursor: pointer;
    transition: 1s;
    opacity: 0;
    font-size: 55px;
    font-weight: 800;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

.navigation-auto{
    position: absolute;
    width: 100%;
    margin-top: 200px;
    align-items: center;
    justify-content: center;
    transition: 1.5s;
}


#radio1:checked ~ .navigation-auto .auto-btn1{
    opacity: 1;
    color: rgb(97, 0, 157);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    opacity: 1;
    color: rgb(97, 0, 157);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    opacity: 1;
    color: rgb(97, 0, 157);
}

.auto-btn1{
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);

}

.auto-btn2{
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);

}

.auto-btn3{
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);

}
